<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../src/main_a.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<!-- <script></script>-можно писать js здесь -->
 <script>
    // console.log("Hello")
    // let name = "elena";
    // let age = 24;
    // let result = name == age;
    // console.log(result);
// let radiobtn = 1;
//  if (radiobtn == 1) {
//     console.log("1")
//  } else if {}

const myArray = []-пустой массив
const people = ["Tanya", "Ivan", "Igor"];
console.log(people);
console.log(people[1])

 </script>
</html>